extends layout

block content
  header
    //h1= title
    //p Welcome to #{title}
    div#controls
      div#curSong &nbsp;
      button#prev.fa.fa-backward
      button#play.fa.fa-play
      button#next.fa.fa-forward
      form(method="POST", action="/add")#urlForm
        input(type="url", name="url", required)#urlInput
        input(type="submit")#urlSubmit

  div#playlist
