extends layout

block content
  header
    //h1= title
    //p Welcome to #{title}
    div#controls
      div#curSong
      button#prev &#171;
      button#play &#9658;
      button#next &#187;
      form(method="POST", action="/add")#urlForm
        input(type="url", name="url", required)#urlInput
        input(type="submit")#urlSubmit

  div#playlist
